@charset "UTF-8";
.str0 {stroke:#373435;stroke-width:22.26;stroke-miterlimit:22.9256}
.fil1 {fill:#FEFEFE}
.fil4 {fill:darkorange}
.fil0 {fill:white}
.fil5 {fill:#FEFEFE;fill-rule:nonzero}
.fil2 {fill:#373435;fill-rule:nonzero}
.fil3 {fill:#373435;fill-rule:nonzero}
